{% extends 'planner/base.html' %}
{% load static %}

{% block title %}Calendários{% endblock %}

{% block titlenavbar %}
Calendários
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        {% for calendario, proxima_data in calendarios_e_datas %}
        <div class="col" style="max-width: 18rem;">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title border-bottom border-2 pb-3"><i class="bi bi-calendar"></i> {{ calendario.nome }}</h5>

                    <p class="text-muted mb-2">
                        <i class="bi bi-calendar-range"></i>
                        {{ calendario.data_inicio|date:'d/m/Y' }}
                        -
                        {{ calendario.data_fim|date:'d/m/Y' }}
                    </p>

                    {% if proxima_data.data %}
                    <p class="card-text flex-grow-1" style="max-height: 100px; overflow-y: auto;">
                        <i class="bi bi-calendar-event"></i>
                        <strong>Próxima data:</strong> {{ proxima_data.data|date:'d/m/Y' }} <br>
                        <span class="text-muted">{{ proxima_data.detalhes }}</span>
                    </p>
                    {% else %}
                    <p class="text-muted flex-grow-1" style="max-height: 100px; overflow-y: auto;">
                        <i class="bi bi-info-circle"></i> Nenhuma data importante para os próximos dias.
                    </p>
                    {% endif %}

                    <div class="mt-auto pt-3 d-flex justify-content-between align-items-center">
                        <a href="{% url 'calendario_detail' calendario.id %}" class="btn btn-primary">Acessar</a>

                        <div class="dropdown">
                            <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="{% url 'calendario_detail' calendario.id %}">
                                        <i class="bi bi-pencil"></i> Editar
                                    </a>
                                </li>
                                <li>
                                    <button class="dropdown-item text-danger" data-bs-toggle="modal"
                                        data-bs-target="#modalExcluir" data-nome="{{ calendario.nome }}"
                                        data-url="{% url 'calendario_delete' calendario.id %}">
                                        <i class="bi bi-trash"></i> Excluir
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">Nenhuma calendário cadastrado.</div>
        </div>
        {% endfor %}

    </div>
</div>

<button type="button"
    class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center position-fixed bottom-0 end-0 mb-3 me-3"
    data-bs-toggle="modal" data-bs-target="#exampleModal" style="height: 50px; width: 50px;">
    <i class="bi bi-plus fs-3"></i>
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Calendário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary w-100">Criar</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- excluir calendario -->
<div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-id-calendario="{{ calendario.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>Tem certeza que deseja excluir o calendário <strong id="calendario_excluir"></strong>?</div>
                <div class="text-muted"><i class="bi bi-info-circle"></i> Caso tenha disciplinas e aulas associadas, elas também serão excluídas.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form action="#" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static '/js/listar_calendarios.js' %}"></script>
{% endblock %}