th {
    width: 80px;
}

td {
    height: 70px;
    width: 80px;
    cursor: pointer;
}

.eventos {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.evento {
    aspect-ratio: 1 / 1;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 5px;
}

.card-eventos {
    max-height: 90vh;
    overflow-y: auto;
}

/* .dia-calendario {
    max-width: 80px !important;
    width: 80px !important;
} */

/* .dia-calendario:hover {
    background-color: #dbdcdd !important;
} */

.hoje {
    background-color: #dbdcdd !important;
    color: #000;
}

.container-table {
    max-width: 100vw;
    overflow-x: auto;
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -230px;
        transition: left 0.3s ease;
        background-color: #fff;
        z-index: 999;
    }

    #menu-icon {
        display: inline;
    }

    #icon-close {
        display: inline;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
    }

    .sidebar-open .sidebar {
        left: 0;
        width: 100% !important;
    }

    .content-page {
        width: 100% !important;
        position: absolute;
        left: 0;
        height: 100vh;
    }

    td {
        width: 50px;
    }
}