{% extends "teacher/base.html" %}

{% block content %}
<div class="shadow p-4 rounded-3" style="width: clamp(350px, 400px, 500px);">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}

  <form method="post" action="{% url 'submit_login' %}">
    <div class="mb-4 text-center">
      <h2>Login</h2>
    </div>

    {% csrf_token %}
    <div class="mb-3">
      <label for="loginEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="loginEmail" name="loginEmail" placeholder="exemplo@email.com"
        required>
    </div>

    <div class="mb-3">
      <label for="loginPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="Digite sua senha"
        required>
    </div>

    <div class="mb-3 fs-6">
      <a href="{% url 'submit_register' %}">Ainda não tem conta? Cadastre-se</a> <br>
      <a href="{% url 'recuperar_senha' %}">Esqueceu a senha? Recuperar</a>
    </div>

    <button type="submit" class="btn text-white w-100 bg-primary">Entrar</button>
  </form>
</div>
{% endblock %}